* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.center {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
}

.area__btn {
    display: flex;
    height: 50vh;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 170px;
    height: 60px;
    background-color: #999;
    box-shadow: 0 0 25px 10px rgba(255, 173, 173, 0.404);
}

.btn {
    font-size: 16px;
    padding: 20 40px;
    font-style: italic;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.flexContainer {
    display: none;
}

.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 2;
}

.header__body {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    min-width: 50px;
    z-index: 3;
}

.logo {
    max-width: 100%;
    width: 70px;
    border-radius: 50%;
}

.header__burger {
    position: absolute;
    right: 5%;
    width: 30px;
    height: 20px;
    margin: 0 auto;
    z-index: 3;
}

.header__burger span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .3s linear;
}

.header__burger::after,
.header__burger::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .3s linear;
}

.header__burger::after {
    top: 0;
}

.header__burger::before {
    bottom: 0;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::after {
    top: 8.5px;
    transform: rotate(45deg);
}

.header__burger.active::before {
    bottom: 8.5px;
    transform: rotate(-45deg);
}

.header__menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    padding: 120px;
    transition: all 1s linear;
}

.header__menu.active {
    top: 0;
}

.header__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__list li {
    list-style: none;
    text-align: center;
    margin: 30px 0;
    transition: .2s linear;
    padding: 15px 40px;
    border-radius: 25px;
}

.header__list li:first-child:hover,
.header__list li:nth-child(2):hover,
.header__list li:nth-child(3):hover,
.header__list li:nth-child(4):hover,
.header__list li:nth-child(5):hover,
.header__list li:last-child:hover {
    box-shadow: 0 0 10px 5px rgb(255, 0, 0, .5);
    transform: scale(1.5, 1.5);
}

.header__link {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.content {
    padding-top: 100px;
}

.content p {
    margin-top: 10px;
}

.active {
    display: block;
}